@use "sass:list";
@use "../mixins" as mx;
@use "../text";

$points: list.zip(text.$svg, text.$css);
$i: 3;
@each $pa, $pb in $points {
  $i: $i + 1;

  @keyframes pixel#{$i} {
    from { transform: translate(#{$pa}); }
    20%  { transform: translate(#{$pb}); }
    50%  { transform: translate(#{$pb}); }
    70%  { transform: translate(#{$pa}); }
    to   { transform: translate(#{$pa}); }
  }
}

#bff:target ~ svg {
  a text {
    stroke: white;
    stroke-width: 0.1px;
    animation: 15s forwards outer, 1s 3s forwards inner;
  }

  @include mx.use(1, $y: 5px, $color: hsl(0, 45%, 50%), $rotate: 45deg, $thikness: 10px, $size: 40px);

  @include mx.use(2, $y: -10px, $x: -15px, $color: hsl(0, 45%, 50%), $rotate: 45deg, $rx: 50%, $thikness: 10px, $size: 40px);

  @include mx.use(3, $y: -10px, $x: 15px, $color: hsl(0, 45%, 50%), $rotate: 45deg, $rx: 50%, $thikness: 10px, $size: 40px);

  @for $i from 4 to list.length($points) + 4 {
    @include mx.use($i, $size: 10px, $thikness: 1px, $color: white) {
      animation: 6s ease 0s infinite pixel#{$i};
    }
  }
}
