@use "../mixins" as mx;

#chrome:target ~ svg {
  > {
    @include mx.use(26, $color: #C03, $size: 100px) {
      mask: url(#mask);
    }

    @include mx.use(27, $color: #019934, $size: 100px) {
      mask: url(#mask);
      transform: rotate(-120deg);
    }

    @include mx.use(28, $color: #FDD20A, $size: 100px) {
      mask: url(#mask);
      transform: rotate(-240deg);
    }

    @include mx.use(29, $size: 31px, $rx:50%, $color: #0099FF, $border: white, $thikness: 3px);
  }

  mask {
    @include mx.use(1, $size: 100px, $color: black);
    @include mx.use(2, $size: 80px, $rx: 50%, $color: white);
    @include mx.use(3, $size: 40px, $thikness: 33px, $x: 20px, $y: 20px, $color: black);
    @include mx.use(4, $size: 100px, $rotate: 150deg, $x: -58px, $y: 33px, $color: black  );
  }
}
