@use "../mixins" as mx;

#list:target ~ svg {
  --size: 20px;

  $r: -1;
  @for $i from 1 to 16 {
    $c: ($i - 1) % 5;
    $r: if($c % 5 == 0, $r + 1, $r);

    $x: -60px + $c * 30px;
    $y: -30px + $r * 30px;
    $o: if($i == 1, 1, 0.5);

    @include mx.use($i, $x: $x, $y: $y, $color: rgba(128, 128, 128, $o));
  }

  use:nth-of-type(n+16) {
    display: none;
  }
}
