$isChrome: false !default;

@use "sass:meta";

@use "base" with (
  $isChrome: $isChrome,
  $size: 5vw
);

@use "nav";

@each $mod in nav.$nav {
  // @debug $mod;
  @include meta.load-css("steps/#{$mod}");
}
